<%= form_with(model: @user, local: true) do |form| %>
<%= render 'shared/error_messages', object: form.object %>

<div class="text-coffee-default font-roboto-300">
  <div class="form-block">
    <%= form.label :name %>
    <%= form.text_field :name, authofocus: true, class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: "email", class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-input" %>
  </div>

   <div class="form-block">
     <%= form.submit "Sign up", class: "btn-primary w-1/2" %>
   </div>
</div>
<% end %>