
  <div class="grid md:grid-cols-3">
    <div class="grid place-content-center pb-32">
      <%= button_to 'previous reads:', books_read_path, method: :get, class: "button mb-1" %>
      <%= link_to image_tag(@books.read.last.image_url, size: "150"), books_read_path %>
    </div>
    <div class="grid place-items-center font-roboto text-maroon">
      <h2 class="text-2xl font-custom text-coffee-default flex justify-center">currently reading:</h2>
      <% @books.map do |book| %>
        <% if book.currently_reading? %>
          <%= image_tag(book.image_url, size: "280", class: "mt-2") %>
          <h2 class="font-bold text-xl mt-1"><%= book.title %></h2>
          <p><%= book.description %></p>
        <% end %>
       <% end %>
    </div>
    <div class="grid place-content-center pb-32">
      <%= button_to 'future reads:', future_read_path, method: :get, class: "button mb-1" %>
      <%= link_to image_tag(@books.future_read.last.image_url, size: "145"), future_read_path %>  
    </div>
  </div>