<%= form_with(model: book, local: true) do |form| %>
<%= render 'shared/error_messages', object: form.object %>

<div class="text-coffee-default font-roboto-300">
  <div class="form-block">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :description %>
    <%= form.text_area :description, size: "60x10", class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :pages %>
    <%= form.number_field :pages, class: "form-input" %>
  </div>

  <div class="form-block">
    <%= form.label :publication_date %>
    <%= form.date_select :publication_date, 
                      start_year: 1800, 
                      end_year: Date.today.year,
                      class: "form-input" %>
  </div>

  <div class="mb-4">
    <%= form.label :status, "Reading status" %>
    <%= form.select :status, Book.statuses.keys, class: "form-input" %>
  </div>

  <div class="mb-4">
    <label class="button cursor-pointer">
       upload image <%= form.file_field :image, class: "hidden" %>
    </label>
  </div>

  <div>
    <label class="btn-primary">
      Save Book <%= form.submit "update book", class: "hidden" %>
    </label>
  </div>
</div>
<% end %>