<%= provide(:title, "#{@book.title}") %>
<div class="xl:grid grid-cols-5 mx-auto place-content-center font-roboto">
  <div class="grid col-start-1 col-end-3 justify-center xl:justify-items-end mt-5 mb-2">
    <%= image_tag book_img(@book.image, 'book_cover'), size: 280 %>
  </div>
  <div class="xl:grid col-start-3 col-end-5 md:mx-0 mx-10"> 
    <div class="font-roboto text-coffee-default">
      <p class="font-custom text-2xl font-semibold"><%= @book.title %></p>
      <p class="font-custom text-xl mb-2"> by <%= @book.author %></p>
      <p class="text-base"><%= @book.description %></p>
      <p class="mt-6 text-sm"> 
        <span class="font-semibold"> publication date:</span>
        <%= format_date(@book.publication_date) %>
      </p>
      <div class="mt-3">
        <%= render 'status' %>
      </div>
      <hr class="mt-2 mb-2">
      <%= render 'comments/comment_form' %>

      <div id="comments" class="mx-auto" data-book-id="<%= @book.id %>">
        <%= render @book.comments %>
      </div>
    </div>
  </div>  
</div>