<nav class="relative overflow-hidden py-4">
    <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
      <%= link_to "home", root_path, class: "header"%>
      <%= link_to "stats", home_statistics_path, class: "header"%>
      <%= link_to "about", home_about_path, class: "header"%>
      <%= link_to "JOIN", '#', class: "float-right pr-4 font-roboto font-bold text-base text-maroon hover:text-red-900"%>
      <%= link_to "log in", '#', class: "float-right header"%>
    </div>
</nav>