<nav class="relative overflow-hidden py-4">
    <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
      <%= link_to "HOME", root_path, class: "font-roboto font-bold text-base text-maroon hover:text-coffee-light"%>
      <%= link_to "STATS", home_statistics_path, class: "font-roboto font-bold text-base text-maroon hover:text-coffee-light"%>
      <%= link_to "ABOUT", home_about_path, class: "font-roboto font-bold text-base text-maroon hover:text-coffee-light"%>
      <%= link_to "JOIN", '#', class: "float-right pr-4 font-roboto font-bold text-base text-maroon hover:text-red-900"%>
      <%= link_to "LOG IN", '#', class: "float-right font-roboto font-bold text-base text-maroon hover:text-coffee-light"%>
    </div>
</nav>