<nav class="relative overflow-hidden py-4">
    <div class="hidden md:block md:ml-10 md:pr-4 md:space-x-8">
      <%= link_to "home", root_path, class: "font-custom text-2xl text-coffee-default hover:text-coffee-light"%>
      <%= link_to "statistics", home_statistics_path, class: "font-custom text-2xl text-coffee-default hover:text-coffee-light"%>
      <%= link_to "about", home_about_path, class: "font-custom text-2xl text-coffee-default hover:text-coffee-light"%>
      <%= link_to "join", '#', class: "float-right pr-4 font-custom text-2xl text-coffee-default hover:text-red-900"%>
      <%= link_to "log in", '#', class: "float-right font-custom text-2xl text-coffee-default hover:text-coffee-light"%>
    </div>
</nav>